@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@layer base {
  body {
    font-family: "Poppins", sans-serif;
    background: url("../../public//backgrounds/bg2.jpeg");
    color: white;
  }
  *::-webkit-scrollbar {
    width: 15px;
  }
  *::-webkit-scrollbar-track {
    background:rgb(59,64, 104);
  }
  *::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 20px;
  }
}
